.page-title {
    font-weight: bold;
    font-size: xx-large;
}
.version {
    font-style: italic;
    font-size: small;
}

#lastSaved {
    font-size: x-small;
    color: gray;
    font-style: italic;
    white-space: normal;
}
table td,
table th {
    vertical-align: top;
}

.btn-upgrade {
    padding: 0 3px;
    font-size: 11px;
    float: right;
}
.hidden {
    display: none;
}